.button{
    background: #FFFFFF;
    border: 1px solid #AAA9A9;
    box-sizing: border-box;
    border-radius: 20px;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
    padding: 10px 80px;
    cursor: pointer;
}