.header{
    border-bottom: 2px solid grey;
    padding-bottom: 10px;
    user-select:none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .right{
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 320px;
        p{
            cursor: pointer;
            font-size: 25px;
        }
    }

}