.input{
    height: 73px;
    background: #FFFFFF;
    border: 1px solid #AAA9A9;
    box-sizing: border-box;
    border-radius: 20px;
    width: 100%;
    padding: 22px 33px;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
}