.input{
    background: #FFFFFF;
    border: 1px solid #AAA9A9;
    box-sizing: border-box;
    border-radius: 20px;
    width: 20%;
    padding: 10px 15px;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
}