.search{
    border: 1px solid #AAA9A9;
    box-sizing: border-box;
    border-radius: 20px;
    width: 20%;
    padding: 10px 15px;
    font-weight: 400;
    font-size: 17px;
    max-height: 50px;
    display: flex;
    align-items: center;
    transition: 0.2s ease-out;
.input{
        font-size: 17px;
        width: 100%;
        outline:none;
        padding: 0 15px;
        border: 0px;
    }
}